<p id="notice"><%= notice %></p>

<h1>Patients</h1>

<div>
  <%= pluralize(Patient.all.size, 'patient') %> found in total
</div><br/>

<%= link_to 'New Patient', new_patient_path, :class => "btn btn-primary" %>

<br><br>

<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :name_cont, "Name Contains"%>
    <%= f.text_field :name_cont, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Search", class: "btn btn-success"%>
  </div>
<% end %>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th><%= sort_link @search, :name, "Name" %></th>
      <th>Date of Birth</th>
      <th>Address</th>
      <th>Phone</th>
      <th colspan="3"></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <div class="row">
    <div class="col-md-12" style="text-align: center">
      <%= will_paginate @patients %>
    </div>
  </div>
  <tbody>
    <% @patients.each do |patient| %>
      <tr class="<%= cycle('odd','even') %>">
        <td><%= patient.name %></td>
        <td><%= patient.dob %></td>
        <td><%= patient.address %></td>
        <td><%= patient.phone %></td>
        <td><%= link_to 'Appointments', {:controller => 'appointments', :patient_id => patient.id}, :class => "btn btn-default" %></td>
        <td><%= link_to 'Show', patient, :class => "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient), :class => "btn btn-default" %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>