<p id="notice"><%= notice %></p>

<%= link_to '<< Back to All Patients', patients_path %><br />

<h1>Patients Profile</h1>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @patient.dob %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @patient.phone %>
</p>

<%= link_to 'Edit Profile', edit_patient_path(@patient), class: "btn btn-default" %>
<br/><hr/>

<% if @patient.appointments.empty? %>
<h3>Appointment History</h3> 
<% end %>
<% if !@patient.appointments.empty? %>
<h3>Appointment History <%= link_to 'Go to Appointments', patient_appointments_path(@patient), class: "btn btn-warning" %></h3> 
<% end %>
<% @patient.appointments.each do |appointment| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <p>
      <b>Name:</b>
      <%= @patient.name %>
      </p>
      <p>
      <b>Appointment Date:</b>
      <%= appointment.apt_date %>
      </p>
      <p>
      <b>Illness:</b>
      <%= appointment.illness %>
      </p>
    </div>
  </div>
<% end %>
<!--%= @patient.appointments.inspect %>-->
<!--%= Time.now.in_time_zone("Dublin") %>-->
<% if @patient.appointments.empty? %>
  <br/><p><b>No appointments found</b></p><br/>
  <%= link_to 'New Appointment', new_patient_appointment_path(@patient), class: "btn btn-primary" %>
<% end %>
