<%= form_for([@patient, @appointment]) do |f| %>
<% if @appointment.errors.any? %>
<div id="error_explanation">
<h2><%= pluralize(@appointment.errors.count, "error")%>
prohibited this review from being saved:</h2>
<ul>
<% @appointment.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>
<div class="field">
<p>
<%= f.label :name %><br />
<%= @patient.name %><br /><br/>
<%= f.label :apt_date, "Appointment Date" %><br />
<%= f.text_field :apt_date, class: "form-control" %><br />
<%= f.label :apt_time, "Appointment Time" %><br />
<%= select_tag :apt_time, options_for_select([["9.00AM"], ["9.30AM"], ["10.00AM"], ["10.30AM"], ["11.00AM"], ["11.30AM"], ["12.00PM"], ["12.30PM"], 
    ["2.00PM"], ["2.30PM"], ["3.00PM"], ["3.30PM"], ["4.00PM"], ["4.30PM"]]), include_blank: true, class: "form-control" %><br />
<%= f.label :visted, "Visited" %><br />
<%= select_tag :visited, options_for_select([["False"], ["True"]]), class: "form-control" %><br />
<%= f.label :illness %><br />
<%= f.text_field :illness, class: "form-control" %><br />
<%= f.label :comments %><br />
<%= f.text_area :comments, class: "form-control" %><br />
</p>
</div>
<div class="actions">
<%= f.submit :Submit, class:'btn btn-success' %>
</div>
<% end %>

