<%= form_for([@patient, @appointment]) do |f| %>
<% if @appointment.errors.any? %>
<div id="error_explanation">
<h2><%= pluralize(@appointment.errors.count, "error")%>
prohibited this review from being saved:</h2>
<ul>
<% @appointment.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>
<div class="field">
<p>
<%= f.label :name %><br />
<%= f.text_field :name, value: "#{@patient.name}", class: "form-control" %><br /><br/>
<%= f.label :apt_date, "Appointment Date" %><br />
<%= f.text_field :apt_date, class: "form-control", placeholder: "dd/mm/yyyy", value: "#{Time.now.strftime("%d/%m/%Y")}" %><br />
<%= f.label :apt_time, "Appointment Time" %><br />
<%= f.select(:apt_time,
        options_for_select([["09:00"], ["09:30"], ["10:00"], ["10:30"], ["11:00"], ["11:30"], ["12:00"], ["12:30"],
        ["14:00"], ["14:30"], ["15:00"], ["15:30"], ["16:00"], ["16:30"]]), {}, :class => 'form-control') %><br /><br />
<%= f.label :visted, "Visited" %><br />
<%= f.select(:visted, options_for_select([["False"], ["True"]]), {}, :class => 'form-control') %><br /><br />
<%= f.label :illness %><br />
<%= f.text_field :illness, class: "form-control" %><br />
<%= f.label :comments %><br />
<%= f.text_area :comments, class: "form-control" %><br />
<%= f.label :hospital, "Hospital request needed?" %><br />
<%= f.select(:hospital, options_for_select([["No"], ["Yes"]]), {}, :class => 'form-control') %><br /><br />

</p>
</div>
<div class="actions">
<%= f.submit :Submit, class:'btn btn-success' %>
</div>
<% end %>